<template name="notFound">
     <!-- Page Header
    ========================-->
    <div id="en-header">
        <div class="container">
            <h2 class="pull-left">Error Page</h2>
            <ol class="breadcrumb pull-right">
              <li><a href="{{ pathFor 'home' }}">Home</a></li>
              <li class="active">Error Page</li>
            </ol>
        </div>
    </div>

    <!-- Page Content
    ========================-->
    <div id="en-content">
        <div class="container">
            <div class="col-sm-4 col-md-4">
                <div class="error">
                    <i class="flaticon-constructor7"></i>
                </div>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="error-text">
                    <h1>404</h1>
                    <h2>OOPS! PAGE NOT FOUND</h2>
                    <br>
                    <p class="fr-view">{{{ dict 'page(404).content' 'No Content' }}}</p>
                    <br>
                    <a class="read-more" href="{{ pathFor 'home' }}">Go Back to Homepage <span class="fa fa-chevron-circle-right"></span></a>
                </div>
            </div>
        </div>
    </div>

        <!-- CTA
    ========================-->
    <div class="en-cta" style="background-image: url( {{ dict 'parallax.homeDividerImage.url' }});">
        <div class="overlay color">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2>{{ dict 'home(section titles).homePageDividerTitle' 'No Title' }}</h2>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-default en-btn light" href="{{ dict 'home(section titles).homePageMeBtnLink' '#' }}" role="button">{{ dict 'home(section titles).homePageBtnText' 'No Text' }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>