<template name="adminBar">
	<div id="adminBar">	
		<div class="pages-container">
			<a class="white-text manage-site-link" href="{{pathFor 'admin'}}">
				 Manage Site
			</a>
			<a class="ab-item right logout" aria-haspopup="true" href="#">Hello, {{currentUser.profile.name}} </a>
		</div>
	</div>
	<style type="text/css">
	   .pages-container {
		    padding-left: 20px;
		    padding-right: 20px;
		}
		.right {
			float: right;
		}

		.manage-site-link {
			font-size: 18px;
		}
		#adminBar {
			font-size: 18px;
		    direction: ltr;
		    color: #ccc;
		    font: 400 13px/32px "Open Sans",sans-serif;
		    height: 32px;
		    position: relative;
		    top: 0;
		    left: 0;
		    width: 100%;
		    /*min-width: 600px;*/
		    z-index: 99999;
		    background: #23282d;
		}
	</style>
</template>