<template name="searchBox">
<!-- 	<form action="/search/" method="get" class="pull-right">
            <input type="input" name="q" value="" placeholder="Search ACM">
            <button type="submit" name="submit">GO</button>
          </form> -->

          <form action="/search/" method="get" class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input name="q" type="text" class="form-control" placeholder="Search ACM">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" name="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
</template>