<template name="teamMembers">

    <!-- Page Header
    ========================-->
    <div id="en-header">
        <div class="container">
            <h2 class="pull-left">Team</h2>
            <ol class="breadcrumb pull-right">
              <li><a href="{{ pathFor 'home' }}">Home</a></li>
              <li class="active">Team</li>
            </ol>
        </div>
    </div>

    <!-- Page Content
    ==================================-->
    <div id="en-content">

        <div class="container"> <!-- Container -->

            <div class="section-title text-center"> <!-- Left Section Title -->
                <h2>{{ dict 'team members(page).title' 'No title' }}</h2>
                <hr>
                <p>{{ dict 'team members(page).content' 'No content' }}</p>
            </div>




            <div class="clearfix"></div>
            <div class="smallspacer"></div>

        
            <div class="row">

                <div id="itemsWork" class="col3">
                    {{#each team }}
                    <div class="col-sm-6 col-md-4 col-lg-3 communication fr-view">
                        <div class="item"><!-- Portfolio Item #1 -->
                            <div class="hover-bg">
                                <div class="hover-text off">
                                    <h4 style="color:#fff!important;">{{ name }}</h4>
                                    <br>
                                    <p>{{ occupation }}</p>
                                    
                                </div>
                                <img src="{{ image.url }}" alt="..." class="img-responsive" width="800" height="750">
                            </div>
                        </div>
                        {{{ content }}}
                    </div>
                    {{/each }}
                </div> <!-- Isotope -->
            </div> <!-- End Row -->

        </div> <!-- End Container-Fluid -->
    </div> <!-- End Services Section -->

    <!-- CTA
    ========================-->
    <div class="en-cta" style="background-image: url( {{ dict 'parallax.homeDividerImage.url' }});">
        <div class="overlay color">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2>{{ dict 'home(section titles).homePageDividerTitle' 'No Title' }}</h2>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-default en-btn light" href="{{ dict 'home(section titles).homePageMeBtnLink' '#' }}" role="button">{{ dict 'home(section titles).homePageBtnText' 'No Text' }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>