<template name="services">
	<!--Default Section-->
    <section class="site-content default-section bg-light how-it-work">
    	<div class="auto-container">
        	<!--Section Title-->
            <div class="sec-title text-center margin-bott-40">
                <div class="theme-text-blue">{{ dict 'home(section titles).servicesSubTitle' 'No Services Sub Title' }}</div>
                <h2>{{ dict 'home(section titles).servicesTitle' 'No Services Title' }}</h2>
            </div>
            
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="column icon-column center-icon-column col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle"><span class="{{ dict 'home(services).serviceOneIcon' 'No Icon' }}"></span><span class="step-count img-circle">01</span></div>
                        <h3 class="montserrat-font text-uppercase">{{ dict 'home(services).serviceOneTitle' 'No title' }}</h3>
                        <div class="text fr-view">{{{ dict 'home(services).serviceOneContent' 'No Content' }}}</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column center-icon-column col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle"><span class="{{ dict 'home(services).serviceTwoIcon' 'No Icon' }}"></span><span class="step-count img-circle">02</span></div>
                        <h3 class="montserrat-font text-uppercase">{{ dict 'home(services).serviceTwoTitle' 'No title' }}</h3>
                        <div class="text fr-view">{{{ dict 'home(services).serviceTwoContent' 'No Content' }}}</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column center-icon-column col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle"><span class="{{ dict 'home(services).serviceThreeIcon' 'No Icon' }}"></span><span class="step-count img-circle">03</span></div>
                        <h3 class="montserrat-font text-uppercase">{{ dict 'home(services).serviceThreeTitle' 'No title' }}</h3>
                        <div class="text fr-view">{{{ dict 'home(services).serviceThreeContent' 'No Content' }}}</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column center-icon-column col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle"><span class="{{ dict 'home(services).serviceFourthIcon' 'No Icon' }}"></span><span class="step-count img-circle">04</span></div>
                        <h3 class="montserrat-font text-uppercase">{{ dict 'home(services).serviceFourthTitle' 'No title' }}</h3>
                        <div class="text fr-view">{{{ dict 'home(services).serviceFourthContent' 'No Content' }}}</div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </section>
    
</template>